.table__custom {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.container__input {
  background-color: #424242;
  padding: 1rem;
  color: white;
}

table th {
  padding: 0 1rem;
}

table td {
  border: 1px solid transparent;
  padding: 8px;
}

button:hover {
  color: gray;
}
