<header>
  <nav>
    <ul>
      <a
        href="https://www.youtube.com/results?search_query=tiago+pzk"
        target="_blank"
      >
        <li>Tiago PZK</li> </a
      ><a
        href="https://www.youtube.com/results?search_query=maria+becerra"
        target="_blank"
      >
        <li>María Becerra</li> </a
      ><a
        href="https://www.youtube.com/results?search_query=bizarrap"
        target="_blank"
      >
        <li>Bizarrap</li> </a
      ><a
        href="https://www.youtube.com/results?search_query=lit+killah"
        target="_blank"
      >
        <li>Lit Killah</li>
      </a>
    </ul>
  </nav>
</header>
